.side-bar {
    flex: 0.3;
    max-width: 300px;
    padding-right: 20px;
}

.side-bar-compose {
    margin-top: 15px;
    margin-left: 10px;
    margin-bottom: 15px;
    text-transform: capitalize;
    color: grey;
    padding: 15px;
    border-radius: 30px;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    cursor: pointer;
    outline: none;
    border: none;
    box-shadow: 0px 2px 5x -2px rgba(0, 0, 0, 0.75);
}

.side-bar-compose span {
    margin-right: 5px;
}

.side-bar-option {
    display: flex;
    align-items: center;
    height: 40px;
    padding: 0 10px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    cursor: pointer;
    color: #818181;
}

.side-bar-option span{
    padding: 5px;
}

.side-bar-option h3{
    flex: 1;
    margin-left: 10px;
    font-size: 0.875rem;
    font-weight: 400;
}

.side-bar-option:hover,
.side-bar-option h3:hover,
.side-bar-option span:hover
{
    background-color: #fcecec;
    color:#c04b37;
    font-weight: 800;
}
