header {
    background: var(--main-bg-color1);
    border-bottom: 2px var(--color2);
    height: 5vh;
}

.app-header {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

nav a {
    margin: .5em;
}

nav a:active {
    color: rgb(0, 98, 128);
}

nav a.active {
    color: rgb(0, 139, 12);
    font-weight: bold;
    text-decoration: overline;
}