header {
    background: var(--main-bg-color1);
    border-bottom: 2px var(--color2);
    height: 10vh;
}

.app-header {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

.app-header h3{
    font-size: 2rem;
}

nav a {
    margin: .5em;
    font-size: 1.4rem;
}



nav a.active {
    color:var(--color5);
    font-weight: bold;
}